ui-block-a, ui-block-b, ui-block-c, a {
	text-decoration: none;
	
}

#fErrorsLink{
	display:none;
}

label.error{
	display:block;
	margin:10px 0; 
	color:#cc0000;
}
 
.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

#formErrors ul{
	font-weight: 900;
	list-style: none; 
	padding-left: 2px;
	line-height:  25px;
}

#formErrors p{
	text-decoration: blink;
	color: red;
	font-style: oblique;
	text-align: center;
}

h3.ui-title{
	text-align: -webkit-left;
	text-align: left;
}

#workOrderForm .ui-icon-grid {
	
	margin:-10px -10px 0 0 !important; 
}

#menu {
	display:none;
}

#dataPopupLink{
	display:none;
}

#search_list .ui-listview, .ui-li-icon {
    left: 1px !important;
    max-height: 80px !important;
    max-width: 80px !important;
    position: absolute !important;
    top: 0em !important;
}

#search_list h3.ui-li-heading {
    font-size: 16px !important;
    font-weight: bold !important;
    display: block !important;
    margin: 0.6em 0px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding-left: 100px;
}

#search_list p.ui-li-desc{
	padding-left: 100px;
}

